/* Share screen ---------------------- */

.breadcrumbs {
  color: $color-text-lightest;
  display: flex;
  flex-wrap: wrap;

  li {
    flex: 0 1 auto;
    padding: 0;

    > * {
      color: inherit;
      display: inline-block;
      padding: $base-padding/2 $base-padding/2 $base-padding/2 0 !important;

      &::after {
        background: url("data:image/svg+xml,%3Csvg width='12' height='12' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' viewBox='0 0 24 24'%3E%3Cpath d='M4 .755l14.374 11.245-14.374 11.219.619.781 15.381-12-15.391-12-.609.755z'/%3E%3C/svg%3E")
          no-repeat 50% 50%;
        background-size: 0.75em 0.75em;
        bottom: -1px;
        content: '';
        display: inline-block;
        height: 0.75em;
        margin-left: $base-padding/3;
        opacity: 0.5;
        position: relative;
        width: 0.75em;
      }
    }
  }

  button {
    color: $grey-500;

    &:hover,
    &:focus {
      color: $color-text;
      outline: none;

      .label.label-bubble {
        background-color: $color-text;
      }
    }

    &.active {
      color: $color-text;
      font-weight: bold;

      .label.label-bubble {
        background-color: $color-text;
      }
    }
  }

  .label.label-bubble {
    background-color: $grey-300;
    color: #fff;
  }

  // Hide arrow on last item
  :last-child {
    * {
      &::after {
        display: none;
      }
    }
  }
}
