/* Temporary layout while data is loading */
.skeleton {
  > div {
    width: 100%;
  }

  p,
  figure,
  h2,
  span,
  button {
    background-color: rgba(200, 200, 200, 0.2);
    border-radius: 6px;
    overflow: hidden;
    z-index: 9;

    &:after {
      content: '';
      animation: skeletonLoading 1s linear infinite;
      animation-fill-mode: forwards;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 8%,
        rgba(255, 255, 255, 0.5) 18%,
        rgba(255, 255, 255, 0) 33%
      );
      background-size: 900px 100%;
      height: inherit;
      position: relative;
      z-index: 10;
      display: block;
    }
  }

  h2 {
    height: 2rem;
    margin: 0 0 1rem 0;
    width: 40%;
  }

  p {
    height: 1.4rem;
    margin: 0.5rem 0;

    &:last-child {
      width: 60%;
    }
  }

  figure {
    height: 100px;
    margin-right: $base-padding;
    width: 100px;
  }

  button {
    width: 6rem;
    height: 2.7rem;
    margin-left: $base-padding;
  }

  figure,
  button {
    flex: 0 0 auto;
  }

  .table {
    tr {
      background-color: transparent;
    }

    td {
      border: none;
    }
  }

  td {
    padding-bottom: 0;

    span {
      display: block;
      height: 1.6rem;
      width: 90%;
    }
  }

  thead {
    td {
      padding-top: 0;

      span {
        height: 1.4rem;
        width: 50%;
      }
    }
  }

  &.text-center {
    > * {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

// Cards
li.skeleton {
  min-height: 200px;

  > div {
    background-color: rgba(180, 180, 180, 0.2);
    border-radius: $border-radius;
    height: 14rem;
    width: 100%;

    &:after {
      content: '';
      animation: skeletonLoading 1s linear infinite;
      animation-fill-mode: forwards;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 8%,
        rgba(255, 255, 255, 0.5) 18%,
        rgba(255, 255, 255, 0) 33%
      );
      background-size: 900px 100%;
      height: inherit;
      position: relative;
      z-index: 10;
      display: block;
    }
  }
}

@keyframes skeletonLoading {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: 500px 0;
  }
}
